.container {
    max-width: 900px;
    padding: 10px;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.section {
    background-color: rgb(255, 255, 255);
    margin: 10px 0;
    border-bottom-color: #ddd;
    padding: 5px;
}

.section__header {
    font-size: 20px;
    margin: 0px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 20px;
}

.section__subHeader{
    margin: 0px;
    font-size: 20px;
    padding: 20px;
}

.section__body {
    padding: 20px;
}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.section__header--buttons {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
}

.form__button {
    padding: 10px;
    border: none;
    color: white;
    background-color: teal;
}

.form__button:hover {   
    background-color: rgb(2, 109, 109);
}

.form__button:active {   
    background-color: rgb(2, 85, 85);
}

.tasks {
    margin: 0;
    list-style: none;
    padding: 0;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tasks__button {
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
}

.tasks__button--done {
    background-color: rgb(4, 211, 4);
}

.tasks__button--done:hover {
    background-color: rgb(88, 247, 88);
}

.tasks__button--remove {
    background-color: rgb(228, 49, 49);
    background-image: url("../img/bin.png");
}

.tasks__button--remove:hover {
    background-color: rgb(230, 98, 98);
}

.task--done {
    text-decoration: line-through;
}

.section__buttons {
    border: none;
    background: none;
    font-family: 'Lato', sans-serif;
    color: teal;
}

.section__buttons:hover {
    color: rgb(6, 172, 172)
}
